@charset "UTF-8";
/*Enter your secret message here*/

/*------------------------------*/
/*------------------------------*/
/*----------Reset----------*/
html, body, nav, img, section, article, p, footer, div {
  padding: 0;
  margin: 0;
  border: 0;
}

/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/

/*----------Navigation----------*/



.navmobile {
  display: none;
}













/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/

/*----------Body Structures----------*/
body {
  
}










/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/

/*-----------Div's----------*/











/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/
/*------------------------------*/

/*----------Section----------*/
.nav-item {
  list-style: none;
}
.nav-link {
  font-family: Oswald;
  letter-spacing: 2px;
  color: #3fd0fc;
  transition: 0.3s;
}

.nav-link:hover {
  color: black;
  background-color: #7ae0ff;
  border-radius: 10px;
  transition-timing-function: ease-in-out;
}
.nav-brand {
  transition: 0.3s;
}

.navbar-brand:hover {
  animation-name: colorful-text;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.navbar-toggler {
  float: right;
}

@keyframes colorful-text {
25%{color: #ff4747;}
50%{color: #70ddff;}
75%{color:#7aff59;}
100%{color: yellow;}


}











/*------------------------------*/

/*Media*/
@media only screen and (max-width: 1020px) {

  .navdesktop {
    display: none;
  }

  .navmobile {
    display: block;
  }

}
