@charset "utf-8";

/*
Jon Tabshi's Portfolio
Author: Jon Tabshi
Date Started: 5/18/19
Date Finished:
*/

/* Structure Layouts */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Navigation Layouts */

nav {
	 margin-right: auto;
	 margin-left: auto;
	 width: 100%;
	 max-width: 100%;
	 min-width: 1364px;
 }

div#logo {
	float: left;
}

div.topnav a {
	min-width:20px
	min-height:20px;
}

div.topnav {
  background-color: white;
  overflow: hidden;
}

div.topnav a {
  float: left;
  display:block;
  color: hsl(214, 67%, 41%);
  text-align: center;
  padding: 45px 16px;
  text-decoration: none;
  font-size: 14px;
}

div.topnav a:hover {
  background-color: #ddd;
  color: hsl(214, 67%, 41%);
}

div.topnav a.active {
  background-color: hsl(214, 67%, 41%);
  color: white;
}

.topnav .icon {
  display: none;
}

/* Side Navigation */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: hsl(214, 67%, 41%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
 span#button {
   float:left;
   padding-top: 30px;
   padding-left: 10px;
   color: hsl(214, 67%, 41%);
 }

/* Responsive Navigation */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 768px){


	html{
		background: white;
		padding-left: 0px;
		padding-right: 0px;
		margin: auto;
	}

  p{
    padding-right:30px;
  }
}

@media screen and (max-width: 1500px){
  p{
    padding-right: 60px;
  }

}

 @media screen and (max-width: 768px){
.topnav a:first-child {
  width: 700px;
  text-align: left;
  padding-left: 50px;
}
	.topnav a:not(:first-child) {
    display: none;
  }
	  .topnav a.icon {
	    float: right;
	    display: block;
	  }
}



/* Responsive */
